/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(165, 153, 233);
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #dfcea8;
    padding-top: 40px;
    padding-bottom: 40px;
}