/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

header{
    padding-top: 20px;
    background-color: azure;
}

body {
    margin: 0px;
    font-family:'Raleway', sans-serif;
    color:rgb(50, 49, 52);
}
header, section {
    padding: 20px;
}
p, li {

}
#tutorials {
    background-color: #c8e1c1;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #b4cacc;
    padding-top: 40px;
    padding-bottom: 40px;
}
#inspiration {
    background-color: #dfcea8;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:30px ;
}
.container {
    display: flex;    

}