/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

header{
    padding-top: 20px;
    background-color: rgb(229, 177, 200);
}

body {
    margin: 0px;
    font-family:'Raleway', sans-serif;
    color:rgb(50, 49, 52);
}
header, section {
    padding: 20px;
}
p, li {

}
#tutorials {
    background-color: #c8e1c1;
    padding-top: 40px;
    padding-bottom: 400px;
    flex-grow: 2;
}

#homework {
    background-color: #b4cacc;
    padding-top: 40px;
    padding-bottom: 400px;
    flex-grow: 2;
}
#inspiration {
    background-color: #dfcea8;
    padding-top: 40px;
    padding-bottom: 400px;
    padding-left:30px ;
    flex-grow: 2;
}
.container {
    display: flex;    
    ...
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 20px;
  column-gap: 60px;
}

}